body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-0 {
	padding: 0 !important;
}

.header {
	background: red;
	font-size: 18px;
  color: white;
  font-weight: bold;
  z-index: 3;
  height: 7vh;
  overflow: hidden;
}

.content {
	height: 93vh;
	overflow: hidden;
	overflow-y: scroll;
}